/* BASIC STYLES */

html {
    height: 100%;
}

body.archive {
    background: #211F1B url(http://www.kingsfund.org.uk/sites/default/themes/custom/childship/images/bg-texture.png);
    color: #fff;
    font-size: 15px;
    font-family: Arial, helvetica, clean, sans-serif;
    line-height: 1.5em;
}

body.archive h1, h2, h3 {
    font-family: "Neo Sans W02 Medium", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: -0.025em;
}

h4, h5, h6 {
    margin: 0.5em 0 0.25em 0;
}

h1 {
    clear: both;
    font-size: 50px;
    line-height: 1em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 17px;
    margin-top: 20px;
}

h2:not(.title) {
    margin-bottom: 30px;
    color: #027AC6;
    font-size: 25px;
}

h3 {
    border-top: 0;
    font-size: 20px;
    margin: 0 0 0.5em 0;
}

a {
    text-decoration: none;
    color: #fff;
}

p, fieldset, table, pre {
    margin-top: 0;
    margin-bottom: 0.75em;
}

article, footer, header, section {
    display: block;
}

table {
    width: auto;
    border-collapse: separate;
}

tbody, th, td {
    border: 0;
}

table caption {
    font-size: 0.9em;
}

dl {
    margin-left: 0;
}

dt {
    font-weight: bold;
}

blockquote {
    clear: both;
    float: left;
    font-family: "Neo Sans W02 Italic", Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-left: 0;
}

cite, blockquote cite {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
    color: #666;
    margin: 0.4em 0 0.4em 30px;
}

cite:before, blockquote cite:before {
    content: "\2014";
}

blockquote p {
    margin-bottom: 0.4em;
    margin-left: 30px;
    float: left;
}

blockquote p:before {
    content: url(/sites/default/themes/custom/childship/images/quotes.png);
    display: block;
    width: 30px;
    height: 13px;
    float: left;
    margin-left: -30px;
    line-height: 1em;
}

blockquote p:after {
    content: url(/sites/default/themes/custom/childship/images/quotes-close.png);
    display: inline-block;
    margin-left: 10px;
    line-height: 0;
}

input[type="search"], input[type="text"], textarea, select, .form-select, .form-textarea, .form-text {
    border: 1px solid #9a9a9a;
    background: url(http://www.kingsfund.org.uk/sites/default/themes/custom/childship/images/form_bg.gif) top left #fff no-repeat;
    border-radius: 2px;
    padding: 4px 5px;
    font-weight: bold;
    color: #555;
    font-size: 0.9em;
    line-height: normal;
}

/* use KF style buttons */

.ep_form_action_button
{
    margin: 0.7em 0.5em 0.7em 0;
    background-color: #000;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    font-family: "Neo Sans W02 Medium", Arial, sans-serif;
    padding: 0.2em 14px 0.2em 5px;
    color: #fff;
    cursor: pointer;
    background-image: url(http://www.kingsfund.org.uk/sites/default/themes/custom/childship/images/chevron-white-right-single.png);
    background-position: right 51%;
    background-repeat: no-repeat;
}

.ep_form_action_button:hover
{
    background-color: #222;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* BLOCKS */

div.page-header-inner-wrapper,
div.page-footer-inner-wrapper {
    width: 960px;
    margin: auto;
    padding-top: 18px;
}

div.archive-header {
    background-color: #027AC6;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}

div.main {
    padding-top: 18px;
}

div.page-content-inner-wrapper {
    width: 904px;
    padding: 18px 28px;
    margin: auto;
    background-color: #ffffff;
}

/* HEADERS */

#site-name {
    display: block;
    float: left;
    margin: 10px 0 0 0;
    width: 330px;
    height: 50px;
    background: url(http://www.kingsfund.org.uk/sites/default/themes/custom/childship/images/logo.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-family: "Neo Sans W02 Medium", Arial, sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: -0.025em;
}
#site-name .slogan {
    display: block;
    width: 110px;
    float: right;
    font-size: 14px;
}

ul.external-links {
    float: right;
}

ul.external-links a:hover {
    color: #000;
    background-color: #fff;
}

h1#archive-title {
    float: left;
    margin-top: 12px;
}

form.archive-search {
    float: right;
    margin-top: 0;
}

a.adv-search {
    float: right;
}

form.archive-search input.search {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    height: 24px;
}

form.archive-search input.submit {
    background-color: #000;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    font-family: "Neo Sans W02 Medium", Arial, sans-serif;
    font-size: 18px;
    height: 34px;
    padding: 1px 14px 4px 5px;
    color: #fff;
    cursor: pointer;
    background-image: url(http://www.kingsfund.org.uk/sites/default/themes/custom/childship/images/chevron-white-right-single.png);
    background-position: right 51%;
    background-repeat: no-repeat;
    padding-right: 14px;
}

form.archive-search input.submit:hover {
    background-color: #222;
}

/* MAIN CONTENT */

div.main {
    color: #333;
}

div.main a {
    font-weight: bold;
    color: #333333;
    border-top: 1px dotted transparent;
    border-right: 1px dotted transparent;
    border-bottom: 1px dotted #333333;
    border-left: 1px dotted transparent;
}

div.main a:hover {
    color: #fff;
    border-bottom: none;
    background-color: #027AC6;
    border: 1px solid #027AC6;
}

/* Override hover styles for images that are links */

div.result-image a {
    font-weight: bold;
    display: inline-block;
    border: none;
}

div.result-image a:hover {
    border: none;
}

/* override eprints default for visited links to avoid blue-on-black */

.menu a, .menu a:visited {
    color: #fff;
}

/* don't change background when hovering over linked image */

body.pathone-publications .page-content a.ep_document_link:hover {
    background-color: transparent;
}

div.wellcomePlayer {
    width: 950px;
    height: 900px;
    background-color: black;
}

/* Homepage */

div.homepage-panel {
    float: right;
    width: 50%;
    background-color: #d1d5da;
    padding: 1em;
    margin: 4px 0 0 28px;
}

/* Advanced search (tr is referenced in clearfix) */

table.ep_search_fields tr {
    margin-top: 0;
    margin-bottom: 0.75em;
}

th.ep_multi_heading {
    font-weight: bold;
    float: left;
    padding-top: 0.75em;
}

td.ep_multi_input {
    clear: left;
    float: left;
}

div.ep_multi_inline_help {
    width: 650px;
}

td.ep_multi_help
{
display: none;
}

/* search results */

div.ep_search_results div.result-row
{
    border-bottom: 1px solid #cacaca;
    padding: 20px;
}

div.result-image
{
    float: left;
    width: 15.5%;
}

div.result-meta
{
    float: right;
    width: 84.5%;
    line-height: 1.3em;
}

div.result-meta h2.title
{
    font-family: Arial,sans-serif;
    color: #222;
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 0;
}

div.result-meta h2.title a
{
    border-bottom: none;
}

div.result-meta-date
{
    color: #7a4493;
    font-size: 0.85em;
    margin-top: 0.7em;
}

div.result-meta-authors
{
    font-size: 0.85em;
    font-weight: bold;
}

div.result-meta-summary, div.result-highlight
{
    font-size: 0.9em;
    line-height: 1.4em;
    margin: 0.7em 0.3em 0 0;
}

div.result-highlight em
{
    font-weight: bold;
}

div.ep_search_reorder
{
    margin-top: 1em;
}

/* SLICK CAROUSEL */
div.showcase
{
    margin: 28px 28px 70px 28px;
}
div.showcase button.slick-prev:before, div.showcase button.slick-next:before
{
    color: #a05ac0;
    opacity: 1;
}

/* FOOTER */

ul.footer-links li {
    float: left;
    padding: 0 7px 0 10px;
    border-left: 1px solid #585857;
}

ul.footer-links li:first-child {
    padding: 0 7px 0 0;
    border-left: none;
}

ul.footer-links a:hover {
    color: #211F1B;
    background-color: #fff;
}
