{% extends "base.html" %}

{% block title %}About this digital archive{% endblock %}

{% block content %}
    <p>The King's Fund has been producing publications since the turn of the 20th century. These cover areas of work that the Fund has addressed throughout its history, from hospital food and menu planning (The King's Fund, 1945) to making integrated care a reality (Ham and Walsh, 2013).</p>

    <p>There are now nearly 2,000 of these documents, most of which are held in hard copy at our information centre in central London. More than 1,000 of these have been digitised so far.</p>

    <p>In order to preserve this unique record of the philanthropic endeavours of The King's Fund and the history of the management of health and wellbeing in London and England, the Fund is digitising all of its publications since its foundation in 1897. We have already scanned about half of our publications and we aim to complete the remainder in 2015.</p>

    <p>This website gives the public access to these documents from anywhere in the world.</p>

    <h3>Software, technology and hosting</h3>

    <p>This website is powered by EPrints 3, free software developed by the University of Southampton. Technology and hosting are managed by the <a href="http://ulcc.ac.uk/services/research-technology">University of London Computer Centre</a>.</p>

    <p>All documents are viewed in player software, this is available under an <a href="http://en.wikipedia.org/wiki/MIT_License" target="_blank">open source licence</a> at <a href="https://github.com/wellcomelibrary/player" target="_blank">github.com/wellcomelibrary/player</a></p>

    <p>The player was developed by <a target="_blank" href="http://www.digirati.co.uk">Digirati</a>.</p>

    <h3>Contact information</h3>

    <p>Please send any feedback about this digital archive to <a href="mailto:enquiry@kingsfund.org.uk">enquiry@kingsfund.org.uk</a>.</p>
{% endblock %}
