{% extends "base.html" %}

{% block title %}The King's Fund digital archive &ndash; online access to documents from 1898{% endblock %}

{% block content %}

    {% include "carousel.html" %}

    <p>This website allows you to search the full text of a huge range of The King's Fund publications and documents from 1898 onwards.</p>

    <div class="homepage-panel">
        <h3>Search the digital archive</h3>
        <p><a href="cgi/search/advanced">Advanced search</a> allows specific searches against fields such as title, author and date.</p>
        <p>You can also perform a simple search using the search bar at the top of every page in the digital archive.</p>
        <p>When viewing a document you can search within just that document from the search bar below it.</p>
    </div>

    <p>More than 1,000 documents have been digitised so far, giving you access to archive-quality scans and searchable electronic text of every page. You can explore these documents on this website, download them for your own use and embed them on your own website.</p>

    <p><a href="/about.html">Find out more about the digital archive</a></p>

    <p>Please note, this archive contains only publications by The King's Fund. If you wish to access The King's Fund's library of health policy and the management of health and social care please use our <a href="http://kingsfund.koha-ptfs.eu/" onClick="_gaq.push(['_trackEvent', 'Link to library database', 'Text click', 'http://kingsfund.koha-ptfs.eu/']);">library database</a>.</p>
{% endblock %}
